.center-top {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.img-size-container{
    max-width: 1200px;
    width: 100%;
    height: 400px;
    border-radius: 20px;
    background-color: black;

    padding: 15px;
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: column;

    overflow: hidden;
    position: relative;

}

#slider{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.2s;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    filter:brightness(0.75);

    z-index: 1;
}

@media(max-width: 1300px) {
    .center-top {
        padding-left: 4%;
        padding-right: 4%;
    }
}

.tit, .des{
    z-index: 2;
    color: white;
    text-shadow: 0 4px 6px rgba(0,0,0,0.1), 0 10px 20px rgba(0,0,0,0.08);
}


.btn-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 25px;
    margin-top: 15px;

    z-index: 2;
}

@media(max-width: 570px) {
    .btn-container {
        flex-direction: column;
        gap: 10px;
    }
}

.online,
.fizic {
    font-weight: bold;
    font-size: 17px;
    padding: 5px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.online{
    background-color: #dc1780;
    color: white;
}

.fizic {
    color: #dc1780;
    background-color: rgb(237, 238, 239);
}

.online:hover {
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.08);
}

.fizic:hover {
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.08);
}

@media(max-width: 600px) {
    .tit {
        font-size: 25px;
    }
}

.red-tit {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

/***************** Select op ******************/

.center-top2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 1300px) {
    .center-top2 {
        padding-left: 4%;
        padding-right: 4%;
    }
}

.select-op {
    max-width: 1200px;
    width: 100%;
    height: auto;
    border-radius: 20px;

    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3%;
}

.online-container,
.fizic-container {
    width: 60%;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.08);
}

.online-container {
    background-color: #e5e5e5f6;
}

.fizic-container {
    background-color: #edededd1;
}

@media(max-width: 950px) {
    .select-op {
        flex-direction: column;
        gap: 30px;
    }

    .online-container,
    .fizic-container {
        width: 100%;
    }
}

.tit-cont-red {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.cont-online{
    height: 100%;
    width: 100%;
}

#fir{
    margin-top: 20px;
}

.btn-go-center{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.cent{
    text-align: center;
}

.download-doc-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

.descarca{
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 15px;
    width: 100%;
    text-align: center;
}

#des1{
    color: #dc1780;
    background-color: rgb(213, 213, 213);
}

#des2{
    background-color: #dc1780;
    color: white;
}


/******* Intrebari Frecvente ******/

.quest-container {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.cont-questions {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
    gap: 15px;
}

@media(max-width: 550px){
    .cont-questions{
        padding-left: 15%;
        padding-right: 15%;
    }
}

.quest-title {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
    margin-top: 25px;
}

.quest-title.active {
    color: white;
}


@media(max-width: 600px) {
    .cont-questions {
        padding-left: 13px;
        padding-right: 13px;
    }

    .quest-title {
        font-size: 25px;
    }
}

.quest-container {
    max-width: 1200px;
    width: 100%;
    color: rgb(3, 3, 3);
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.quest-question {
    background-color: #e2e1e1;
    padding: 15px;
    font-weight: normal;
    border-radius: 25px;
    border-bottom: 1px solid white;
    transition: border-radius 0.3s ease;
    font-size: 18px;
}

.quest-question.active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.quest-answer {
    font-size: 15px;
    display: block;
    opacity: 0;
    max-height: 0px;
    font-weight: normal;
    overflow: hidden;
    background-color: #f7f6f6;
    padding: 0px;
    border-radius: 15px;
    transition: 0.3s;
}

.quest-answer.active {
    max-height: 500px;
    opacity: 1;
    padding: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#contactt {
    margin-top: 20px;
    font-size: 25px;
}