
main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media(max-width: 1300px){
    main{
        padding: 3%;
    }
}

.formularr{
    max-width: 1200px;
}